:root {
  --white-color: #FFFFFF;
  --primary-color: #32965D;
  --light-gray-color: #1E1E1E;
  --light-gray-color-2: #151515;
  --gray-color: #121212;
  --escrita: #C4C4C4;
  --scrollbar: #1b1b1b;
  --gap: 3rem;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  color: var(--escrita);
  line-height: 2;
}

h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 4rem;
  text-transform: uppercase;
}

h2 {
  font-size: 33px;
  text-transform: uppercase;
  color: var(--primary-color);
}

h3 {
  font-size: 2.5rem;
  color: var(--escrita);
}

h4 {
  font-size: 2rem;
  color: var(--escrita);
}

p {
  font-size: 15px;
}

a {
  text-decoration: none;
}

.main-bg {
  background-size: cover;
  background-position: center;
  color: var(--escrita);
  background: var(--gray-color);
}

.white-bg {
  background: var(--light-gray-color-2);
  color: var(--escrita);
}

.main-content {
  max-width: 120rem;
  margin: 0 auto;
  padding: var(--gap);
}

.section {
  min-height: 100vh;
}

.menu-spacing {
  height: 65px;
}