.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    border-bottom: 1px solid var(--light-gray-color);
}
  
.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 15rem;
    padding-right: 15rem;
}

  
.menu h1 {
    font-size: 20px;
    color: var(--primary-color);
    letter-spacing: 0.3rem;
}
  
.menu h1 a {
    color: inherit;
}

.menu ul {
    list-style: none;
    display: flex;
    gap: var(--gap);
    letter-spacing: 0.15rem;
}
  
.menu ul li a {
    display: block;
    padding: 20px;
    font-size: 15px;
    color: var(--white-color);
    position: relative;
}
  
.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 1.8rem;
    left: 50%;
    width: 0;
    height: 2px;
    background: var(--primary-color);
    transition: all 300ms ease-in-out;
}
  
.menu ul li a:hover:after {
    width: 50%;
    left: 25%;
}

.inicio-content {
    padding-top: 0;
    top: -6.5rem;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: var(--gap);
    height: 100vh;
    margin-left: 10rem;
    margin-right: 10rem;
    line-height: 6rem;
    letter-spacing: 0.3rem;
}

.inicio-text-content, .inicio-img {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.inicio-text-contet h2 {
    margin-bottom: 5rem;
    text-transform: uppercase;
    
}

.inicio-img img{
    max-width: 100%;
    height: auto;
}

.social-content {
    display: flex;
    width: 350px;
    justify-content: space-between;
    color: var(--escrita);
}

.social-content img{
    position: relative;
    width: 22px;
    
}

.principal-botao-linkedin, .principal-botao-github {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 140px;
    border-radius: 8px;
    position: relative;
    background-color: var(--light-gray-color);
    margin-top: 1rem;
    transition: 0.3s;
    font-weight: 600;
    font-size: 0.95rem;
    padding: 3px 5px 5px;
    letter-spacing: 1.5px;
    height: 40px;
    color: var(--white-color);
}

.principal-botao-github:hover, .principal-botao-linkedin:hover {
    background-color: var(--primary-color);
}

::-webkit-scrollbar {
    width: 10px;
    background-color: var(--scrollbar);
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 5px;
}